<script setup lang="ts"></script>
<template>
  <article class="mt-8 max-w-6xl px-4 prose prose-slate mx-auto lg:prose-sm">
    <h1 class="underline">QUESTION 1</h1>
    <blockquote>
      <p>
        Create a web app using Django that interacts with the GO REST API
        (https://gorest.co.in/). Focus on displaying the users and enabling CRUD
        actions.
      </p>
    </blockquote>
    <h3>Backend</h3>
    <p>Use Django REST framework</p>
    <ul role="list">
      <li>
        <a href="https://back-c2bfc2xnza-as.a.run.app/swagger/" target="_blank"
          >swagger</a
        >
      </li>
      <li>
        <a href="https://back-c2bfc2xnza-as.a.run.app/" target="_blank">www</a>
      </li>
      <li>
        <a href="https://gitlab.com/test323642/back/-/pipelines" target="_blank"
          >gitlab</a
        >
      </li>
    </ul>
    <h3>Frontend 1</h3>
    <p>
      Use Django Views and Bootstrap5. Responsive. No reactive. Implements only
      List, Add, Delete actions.
    </p>
    <ul role="list">
      <li>
        <a href="https://back-c2bfc2xnza-as.a.run.app/" target="_blank">www</a>
      </li>
      <li>
        <a
          href="https://gitlab.com/test323642/front/-/pipelines"
          target="_blank"
          >gitlab</a
        >
      </li>
    </ul>
    <h3>Frontend 2</h3>
    <p>With Vue and Tailwindcss. Responsive. Reactive.</p>
    <ul role="list">
      <li><a href="/users">www</a></li>
      <li>
        <a
          href="https://gitlab.com/test323642/front/-/pipelines"
          target="_blank"
          >gitlab</a
        >
      </li>
    </ul>

    <blockquote>
      API Integration: Use the provided API to fetch and manage user data.
    </blockquote>

    <ul role="list">
      <li>
        <a
          href="https://gitlab.com/test323642/back/-/blob/main/app/application/adapter/gorest/gorestapi.py"
          target="_blank"
          >API Client Implementation</a
        >
      </li>
      <li>
        <a
          href="https://gitlab.com/test323642/back/-/blob/main/app/application/adapter/api/views.py"
          target="_blank"
          >DRF Views Implementation</a
        >
      </li>
    </ul>
  </article>
</template>
