<script setup lang="ts"></script>
<template>
  <article class="mt-8 max-w-6xl px-4 prose prose-slate mx-auto lg:prose-sm">
    <h1 class="underline">QUESTION 2</h1>
    <blockquote>
      <p>
        Explain the potential problems with the following function and give at
        least two examples of how to fix
      </p>
    </blockquote>

    <ul role="list">
      <li>Input type errors</li>
      <li>Unhandled exceptions</li>
      <li>Devision by zero</li>
    </ul>
    <p>Better code:</p>

    <pre><code clas="language-python">
                
        def division(x, y) -> float:
            x_float = x
            y_float = y
            
            if isinstance(x, (str)) and x.isnumeric():
                x_float = float(x)
            if not isinstance(x, (float, int)):
                x_float = 0
            
            if isinstance(y, (str)) and y.isnumeric():
                y_float = float(y)
            if not isinstance(y, (float, int)):
                y_float = 0
                
            if y_float==0:
                return 0
            
            return x_float / y_float
    </code></pre>

    <pre><code clas="language-python">
        def divide(x: float, y:float) -> float:
            try:
                return x / y
            except ZeroDivisionError:
                return 0
            except TypeError:
                return 0
    </code></pre>
  </article>
</template>
