<script setup lang="ts"></script>
<template>
  <article class="mt-8 max-w-6xl px-4 prose prose-slate mx-auto lg:prose-sm">
    <h1 class="underline">QUESTION 3</h1>
    <blockquote>
      <p>What can you improve upon the code snippet below:</p>
    </blockquote>

    <p>Problems:</p>
    <ul role="list">
      <li>Magic string</li>
      <li>Multiple loops</li>
      <li>Not expandable</li>
      <li>Not testable</li>
      <li>Unused import (sys)</li>
    </ul>
    <p>Better code:</p>
    <pre><code clas="language-python">
    import os
    def showfolder(dirname:str, extentions: tuple = None)->set:
        if(extentions is None):
            extentions = ( ".py", ".log", ".exe" )
        myFiles = set()
        if not os.path.exists(dirname) or not os.path.isdir(dirname):
            raise FileNotFoundError(f"Directory {dirname} not found")
        dirs = os.listdir( dirname )
        myFiles = set(filter( lambda x: x.endswith(extentions), dirs))
    
     
        return myFiles

    print(showfolder("C:/Windows"))
    print(showfolder("C:/Windows", ('.txt')))
    print(showfolder("C:/BAD_DIR"))
    </code></pre>
  </article>
</template>
