<script setup lang="ts"></script>
<template>
  <article class="mt-8 max-w-6xl px-4 prose prose-slate mx-auto lg:prose-sm">
    <h1 class="underline">QUESTION 4</h1>
    <blockquote>
      <p>
        Discuss why the XY Problem can be prevalent when working with artists
        and how you go about avoiding it.
      </p>
    </blockquote>

    <p>Essence:</p>
    <ul role="list">
      <li>Often they solve the wrong problem</li>
      <li>Cannot formulate the problem correctly</li>
      <li>There is no information about what exactly is broken</li>
      <li>Hurry up and try the easiest way to solve</li>
    </ul>
    <p>Solution:</p>
    <ul role="list">
      <li>Don't panic.</li>
      <li>Find out how it was before problem</li>
      <li>Don’t try to solve it right away, even if it seems quick</li>
      <li>
        Discuss and formulate problem using the formula “object” “environment”
        “deviation”
      </li>
      <li>Clarify what actions lead to the problem</li>
      <li>Find out how widely the problem has ruined everything</li>
      <li>Find out what solutions there are and which ones I have tried</li>
      <li>Think about how the solution can help</li>
    </ul>
  </article>
</template>
