<script setup lang="ts"></script>
<template>
  <article class="mt-8 max-w-6xl px-4 prose prose-slate mx-auto lg:prose-sm">
    <h1 class="underline">QUESTION 5</h1>
    <blockquote>
      <p>
        How do you prevent HTML & Cross-Site Scripting (XSS) injection in web
        applications?
      </p>
    </blockquote>

    
    <p>Solution:</p>
    <ul role="list">
      <li>Filter user input (cookie, url, form input, storage, GET, POST). Convert spec symbols to ther html entities ('">&lt; &amp;)</li>
      <li>Cut "javascript"</li>
      <li>Convert "&#" (Unicode Hex Character)</li>
      <li>Convert ` </li>
      <li>Use page encoding to prevent injection in other encoding </li>
      <li>Sanitize quoted data</li>
      <li>Use  HttpOnly flag for cookie</li>
      <li>Use popular libs and frameworks</li>
    </ul>
  </article>
</template>
