<script setup lang="ts"></script>
<template>
  <article class="mt-8 max-w-6xl px-4 prose prose-slate mx-auto lg:prose-sm">
    <h1 class="underline">QUESTION 6</h1>
    <blockquote>
      <p>
        Are code standards important? Defend your answer.   
      </p>
    </blockquote>

    
    <p>

      It's very important to use code standards. The most required PEP8, CLEAN CODE and SOLID.
      <ul>
        <li>Code understanding improves</li>
        <li>Uniform code</li>
        <li>Easier to understand someone else's code</li>
        <li>Allows you to write testable code</li>
        <li>Allows you to avoid mistakes</li>
        <li>Allows you to write extensible code</li>
      </ul>
      <br>
      Example:
      <pre><code clas="language-python">
        class test_class:
            pass

        MyVar = test_class()
        
        # Wrong name agreement. It is very easy to confuse the name of a class and a variable
      </code></pre>


      <pre><code clas="language-python">
        def test1(arg):
            arg.append(1)

        list1 = []
        test1(list1)
        test1(list1)

        #Method has side effects. Method must be "pure functions"
      </code></pre>


      <pre><code clas="language-python">
        def some_etl(arg):
            response = request.get('some_url')
            // work with response.json()
            result = ...
            db1.save(result)
            print("Result is result")

        # Method does several different things. It can't been testing. Methos must do one thing and do it well
      </code></pre>

      <pre><code clas="language-python">
        # Example of better code
        @dataclass
        class DataforSafe():
            pass

        class ApiName():
            def get();
                pass
            

        class AbstractDB(ABS):
            ...
            @abstractmethod
            def write(self, data:Dataforsafe):
                pass

        class MyEtl:
            
            def __init__(self, api: ApiNAme, data_base: AbstractDB):
                self.data_base = data_base
                self.api = api

            def tansfer(self):
                self.data = self.extracted_data
            

            def load(self):
                self.data_base.save(self.data)
            
            def extract(self):
                self.extracted_data = self.api.get()
                

            def handle(self):
                self.extract()
                self.tranfer()
                self.load()
         
      </code></pre>

    </p>
    
  </article>
</template>
