<script lang="ts" setup>
import { ref } from "vue";
import { useUser } from "../../composables/users.js";

import {
  Dialog,
  DialogOverlay,
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
  TransitionChild,
  TransitionRoot,
} from "@headlessui/vue";

import { XCircleIcon, EllipsisVerticalIcon } from "@heroicons/vue/24/outline";

const statusStyles = {
  active: "bg-green-100 text-green-800",
  processing: "bg-yellow-100 text-yellow-800",
  inactive: "bg-gray-100 text-gray-800",
};
const alertOpen = ref(false);
const editOpen = ref(false);
const {
  users,
  getUsers,
  saveUser,
  deleteUser,
  curuser,
  errormessage,
  page,
  nextpage,
  prevpage,
} = useUser();

const editShow = (user) => {
  curuser.value = user;
  errormessage.value = "";
  editOpen.value = true;
};
const removeShow = (user) => {
  alertOpen.value = true;
  errormessage.value = "";
  curuser.value = user;
};

const saveUserDialog = async () => {
  await saveUser();
  if (errormessage.value == "") {
    editOpen.value = false;
  }
};

getUsers();
</script>
<template>
  <div class="mt-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <h2 class="text-lg leading-6 font-medium text-gray-900">Users</h2>
      <p class="pt-5">
        Front for <a href="https://gorest.co.in/">gorest.co.in</a> API. Using
        django bakeend.
      </p>
    </div>

    <div
      class="max-w-6xl mt-6 sm:flex sm:items-start sm:justify-between mx-auto px-4 sm:px-6 lg:px-8"
    >
      <h2 class="">Available users</h2>

      <div
        class="mt-5 sm:mt-0 sm:ml-6 sm:flex-shrink-0 sm:flex sm:items-center"
      >
        <button
          @click="editOpen = true"
          type="button"
          class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm"
        >
          Add user
        </button>
      </div>
    </div>
    <TransitionRoot as="template" :show="editOpen">
      <Dialog
        as="div"
        class="fixed z-10 inset-0 overflow-y-auto"
        @close="editOpen = false"
      >
        <div
          class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
        >
          <TransitionChild
            as="template"
            enter="ease-out duration-300"
            enter-from="opacity-0"
            enter-to="opacity-100"
            leave="ease-in duration-200"
            leave-from="opacity-100"
            leave-to="opacity-0"
          >
            <DialogOverlay
              class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
            />
          </TransitionChild>

          <!-- This element is to trick the browser into centering the modal contents. -->
          <span
            class="hidden sm:inline-block sm:align-middle sm:h-screen"
            aria-hidden="true"
            >&#8203;</span
          >
          <TransitionChild
            as="template"
            enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100"
            leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          >
            <div
              class="relative inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
            >
              <form class="space-y-6" action="#" method="POST">
                <div>
                  <div>
                    <label
                      for="name"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Name
                    </label>
                    <div class="mt-1">
                      <input
                        id="name"
                        name="name"
                        type="text"
                        autocomplete="name"
                        required="true"
                        v-model="curuser.name"
                        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                      />
                    </div>
                  </div>
                  <div>
                    <label
                      for="email"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Email address
                    </label>
                    <div class="mt-1">
                      <input
                        id="email"
                        name="email"
                        type="email"
                        autocomplete="email"
                        v-model="curuser.email"
                        required="true"
                        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                      />
                    </div>
                  </div>

                  <div>
                    <label
                      for="gender"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Gender
                    </label>
                    <div class="mt-1">
                      <select
                        v-model="curuser.gender"
                        id="gender"
                        name="gender"
                        autocomplete="gender"
                        required="true"
                        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                      >
                        <option>male</option>
                        <option>female</option>
                      </select>
                    </div>
                  </div>
                  <div>
                    <label
                      for="status"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Status
                    </label>
                    <div class="mt-1">
                      <select
                        required="true"
                        v-model="curuser.status"
                        id="status"
                        name="status"
                        autocomplete="status"
                        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                      >
                        <option>active</option>
                        <option>inactive</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div
                  id="error"
                  v-html="errormessage"
                  class="mt-5 sm:mt-6 text-red-600"
                ></div>
                <div
                  class="mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense"
                >
                  <button
                    type="button"
                    class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:col-start-2 sm:text-sm"
                    @click="saveUserDialog()"
                  >
                    Save
                  </button>
                  <button
                    type="button"
                    class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:col-start-1 sm:text-sm"
                    @click="editOpen = false"
                    ref="cancelButtonRef"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </TransitionChild>
        </div>
      </Dialog>
    </TransitionRoot>
    <TransitionRoot as="template" :show="alertOpen">
      <Dialog
        as="div"
        class="fixed z-10 inset-0 overflow-y-auto"
        @close="alertOpen = false"
      >
        <div
          class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
        >
          <TransitionChild
            as="template"
            enter="ease-out duration-300"
            enter-from="opacity-0"
            enter-to="opacity-100"
            leave="ease-in duration-200"
            leave-from="opacity-100"
            leave-to="opacity-0"
          >
            <DialogOverlay
              class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
            />
          </TransitionChild>

          <!-- This element is to trick the browser into centering the modal contents. -->
          <span
            class="hidden sm:inline-block sm:align-middle sm:h-screen"
            aria-hidden="true"
            >&#8203;</span
          >
          <TransitionChild
            as="template"
            enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100"
            leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          >
            <div
              class="relative inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
            >
              <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
                <button
                  type="button"
                  class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                  @click="alertOpen = false"
                >
                  <span class="sr-only">Close</span>
                  <XCircleIcon class="h-6 w-6" aria-hidden="true" />
                </button>
              </div>
              <div class="sm:flex sm:items-start">
                <div
                  class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10"
                ></div>
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                  <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Delete user
                  </h3>
                  <div class="mt-2">
                    <p class="text-sm text-gray-500">
                      Are you sure you want to deactivate your account? All of
                      your data will be permanently removed from our servers
                      forever. This action cannot be undone.
                    </p>
                  </div>
                </div>
              </div>
              <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                <button
                  type="button"
                  class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"
                  @click="deleteUser(), (alertOpen = false)"
                >
                  Delete
                </button>
                <button
                  type="button"
                  class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm"
                  @click="alertOpen = false"
                >
                  Cancel
                </button>
              </div>
            </div>
          </TransitionChild>
        </div>
      </Dialog>
    </TransitionRoot>




             <div class="shadow sm:hidden">
              <ul role="list" class="mt-2 divide-y divide-gray-200   shadow sm:hidden">
                <li  v-for="user in users" :key="user.id" >
                  <div class="block px-4 py-4 bg-white hover:bg-gray-50">
                    <span class="flex items-center space-x-4">
                      <span class="flex-1 flex space-x-2 ">
                        <Menu
                          as="div"
                          class="relative inline-block text-left mr-2"
                        >
                          <div>
                            <MenuButton
                              class="bg-gray-100 rounded-full flex items-center text-gray-400 hover:text-gray-600 focus:outline-none"
                            >
                              <span class="sr-only">Open options</span>
                              <EllipsisVerticalIcon
                                class="h-5 w-5"
                                aria-hidden="true"
                              />
                            </MenuButton>
                          </div>

                          <transition
                            enter-active-class="transition ease-out duration-100"
                            enter-from-class="transform opacity-0 scale-95"
                            enter-to-class="transform opacity-100 scale-100"
                            leave-active-class="transition ease-in duration-75"
                            leave-from-class="transform opacity-100 scale-100"
                            leave-to-class="transform opacity-0 scale-95"
                          >
                            <MenuItems
                              class="z-20 backdrop origin-top-right absolute left-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                            >
                              <div class="py-1">
                                <MenuItem v-slot="{ active }">
                                  <a
                                    @click="editShow(user)"
                                    :class="[
                                      active
                                        ? 'bg-gray-100 text-gray-900'
                                        : 'text-gray-700',
                                      'block px-4 py-2 text-sm',
                                    ]"
                                    >Edit</a
                                  >
                                </MenuItem>
                                <MenuItem v-slot="{ active }">
                                  <a
                                    @click="removeShow(user)"
                                    :class="[
                                      active
                                        ? 'bg-gray-100 text-gray-900'
                                        : 'text-gray-700',
                                      'block px-4 py-2 text-sm',
                                    ]"
                                    >Delete</a
                                  >
                                </MenuItem>
                              </div>
                            </MenuItems>
                          </transition>
                        </Menu>
                        <span class="flex flex-col text-gray-500 text-sm truncate">
                          <span class="truncate">{{ user.name }}</span>
                          <span class="truncate overflow-hidden "> {{ user.email }}</span
                          >
                           
                        </span>
                      </span>
                       
                    </span>
                  </div>
                </li>
              </ul>

              <nav class="mt-4 bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200" aria-label="Pagination">
                <div class="flex-1 flex justify-between">
 

                  <a  v-if="page > 1"
                      @click="prevpage()" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500"> Previous </a>
                  <a  @click="nextpage()" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500"> Next </a>
                </div>
              </nav>
            </div>





    <!-- Activity table (small breakpoint and up) -->
    <div class="hidden sm:block ">
      <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col mt-2">
          <div
            class="align-middle min-w-full overflow-x-auto shadow overflow-hidden sm:rounded-lg"
          >
            <table class="min-w-full divide-y divide-gray-200">
              <thead>
                <tr>
                  <th
                    class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    User
                  </th>
                  <th
                    class="px-6 py-3 bg-gray-50 text-right text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Email
                  </th>
                  <th
                    class="hidden px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider md:block"
                  >
                    Status
                  </th>
                  <th
                    class="px-6 py-3 bg-gray-50 text-right text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Gender
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr v-for="user in users" :key="user.id" class="bg-white">
                  <td
                    class="max-w-0 w-full px-6 py-4 whitespace-nowrap text-sm text-gray-900"
                  >
                    <div class="flex">
                      <Menu
                        as="div"
                        class="relative inline-block text-left mr-2"
                      >
                        <div>
                          <MenuButton
                            class="bg-gray-100 rounded-full flex items-center text-gray-400 hover:text-gray-600 focus:outline-none"
                          >
                            <span class="sr-only">Open options</span>
                            <EllipsisVerticalIcon
                              class="h-5 w-5"
                              aria-hidden="true"
                            />
                          </MenuButton>
                        </div>

                        <transition
                          enter-active-class="transition ease-out duration-100"
                          enter-from-class="transform opacity-0 scale-95"
                          enter-to-class="transform opacity-100 scale-100"
                          leave-active-class="transition ease-in duration-75"
                          leave-from-class="transform opacity-100 scale-100"
                          leave-to-class="transform opacity-0 scale-95"
                        >
                          <MenuItems
                            class="z-10 backdrop origin-top-right absolute left-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                          >
                            <div class="py-1">
                              <MenuItem v-slot="{ active }">
                                <a
                                  @click="editShow(user)"
                                  :class="[
                                    active
                                      ? 'bg-gray-100 text-gray-900'
                                      : 'text-gray-700',
                                    'block px-4 py-2 text-sm',
                                  ]"
                                  >Edit</a
                                >
                              </MenuItem>
                              <MenuItem v-slot="{ active }">
                                <a
                                  @click="removeShow(user)"
                                  :class="[
                                    active
                                      ? 'bg-gray-100 text-gray-900'
                                      : 'text-gray-700',
                                    'block px-4 py-2 text-sm',
                                  ]"
                                  >Delete</a
                                >
                              </MenuItem>
                            </div>
                          </MenuItems>
                        </transition>
                      </Menu>

                      <p
                        class="text-gray-500 truncate group-hover:text-gray-900"
                      >
                        {{ user.name }}
                      </p>
                    </div>
                  </td>
                  <td
                    class=" px-6 py-4 whitespace-nowrap text-sm text-gray-900"
                  >
                    <span class="text-gray-500 truncate group-hover:text-gray-900 "
                      >{{ user.email }}
                    </span>
                  </td>
                  <td
                    class="hidden px-6 py-4 whitespace-nowrap text-sm text-gray-500 md:block"
                  >
                    <span
                      :class="[
                        statusStyles[user.status],
                        'inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium capitalize',
                      ]"
                    >
                      {{ user.status }}
                    </span>
                  </td>
                  <td
                    class="px-6 py-4 text-left whitespace-nowrap text-sm text-gray-500"
                  >
                    {{ user.gender }}
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- Pagination -->
            <nav
              class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6"
              aria-label="Pagination"
            >
              <div class="flex-1 flex justify-between sm:justify-end">
                <a
                  v-if="page > 1"
                  @click="prevpage()"
                  class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
                >
                  Previous
                </a>
                <a
                  @click="nextpage()"
                  class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
                >
                  Next
                </a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
