<script setup lang="ts">
import { useRouter } from "vue-router";
import { HomeIcon } from "@heroicons/vue/24/outline";
const router = useRouter();
</script>

<template>
  <nav
    class="mt-5 flex-1 flex flex-col divide-y divide-white overflow-y-auto"
    aria-label="Sidebar"
  >
    <div class="px-2 space-y-1">
      <router-link
        v-for="route in router.options.routes"
        :key="route.path"
        :to="route.path"
        :class="[
          route.path == router.currentRoute.value.path
            ? 'bg-cyan-800 text-white'
            : 'text-cyan-100 hover:text-white hover:bg-cyan-600',
          'group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md',
        ]"
        ><HomeIcon
          class="mr-4 flex-shrink-0 h-6 w-6 text-cyan-200"
          aria-hidden="true"
        />{{ route.name }}</router-link
      >
    </div>
  </nav>
</template>
