<script setup lang="ts">
import Sidebar from "../components/Sidebar.vue";
</script>

<template>
  <div class="min-h-full"><Sidebar /></div>
  <div class="lg:pl-64 flex flex-col flex-1">
    <main class="flex-1 pb-8"><router-view /></main>
  </div>
</template>
